.main {
  width: 90vw;
  margin: 0 auto;
}

@media only screen and (min-width: 720px) {
  .main {
    width: 80vw;
  }
}

@media only screen and (min-width: 1050px) {
  .main {
    width: 40vw;
  }
}

.title {
  text-align: center;
}

.description {
  text-align: center;
}
