.main {
  width: 90vw;
  margin: 0 auto;
  position: relative;
}



.main p {
  color: #141414;
  line-height: 2;
  font-size: 1.3rem;
}

@media only screen and (min-width: 720px) {
  .main {
    width: 80vw;
  }

  .main p {
    line-height: 1.8;
  }
}

@media only screen and (min-width: 1050px) {
  .main {
    box-sizing: border-box;
    width: 51vw;
    padding: 0 7vw;
  }
/* 
  .main p {
    padding: 0 2vw;
  }

  .main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
    padding: 0 2vw;
  } */
}

.img {
  margin: 0 -50px !important;
}

